* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header start */



.power {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    background-color: rgba(0, 255, 255, 0.438);
    background-blend-mode: hue;
    justify-content: start;
    align-items: center;
    position: fixed;
}

.logo img {
    width: 200px;
    height: 80px;
    /* padding-bottom: 170px; */
    margin-left: 40px;
}

.menu {
    display: flex;
    gap: 50px;
    margin-left: 900px;

}


.menu,
.two,
a {
    text-decoration: none;
    color: black;
}


.menu.one h2,
.two h2,
.three h2,
.four h2 {
    color: black;
}

.one h2:hover,
.two h2:hover,
.three h2:hover,
.four h2:hover {
    color: white;
}


.drop {
    width: 160px;
    height: 81px;
    background-color: rgba(100, 74, 74, 0.486);
    position: absolute;
}


.drop,
li {
    width: 150px;
    border: 1px solid rgb(179, 162, 162);
    display: none;
    list-style: none;
    color: white;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.two:hover .drop,
li {
    display: block;


}

.drop,
li,
a:hover {
    color: rgb(231, 238, 167);

}


/* ============== content start ======================== */

.main {
    width: 100%;
    height: 600px;
    background: url(../img/inner-c-img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main h2 {
    font-size: 40px;
    padding-top: 250px;
    margin-left: 830px;
    color: white;
    font-weight: 600;
}

.main h2:hover {
    color: rgb(245, 234, 216);
}

.dg {
    width: 100%;
    height: 300px;
    background-color: black;
}

.dg h3 {
    font-size: 50px;
    color: rgb(211, 193, 193);
    font-weight: 500;
    padding: 60px;
    margin-left: 260px;

}

.dg p {
    color: rgb(235, 210, 146);
    margin-left: 300px;
    padding: 19px;
    font-weight: 300;
    font-size: 20px;
    font-style: oblique;
    border-bottom: 2px solid white;
}


.box {
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 100px;

}


.content,.content1{

    height: 130px;
    margin-top: 60px;
    padding: 30px 0px 0px 0px;
}

.content h3 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(233, 182, 182);
    margin-bottom: 10px;
}

.content h4 {

    font-size: 17px;
    color: gainsboro;
    margin-top: 5px;
}

.ifram{
    width: 100%;
    height: 800px;
    background-color: black;
}

.map{
    width: 700px;
    height: 700px;
    padding-top: 70px;
    margin-left:470px;
}

.box2{

    width: 100%;
    height: 510px;
    background-color: black;
    display: flex;
    justify-content: center;
    
   
}

.div1{
    width: 900px;
    height: 500px;
    display: flex;
    gap: 20px;
    margin-left: 20px;
    padding-left: 30px;
}

.div1 img{
    width: 330px;
    height: 470px;    
}

.div1 img:hover{
    transform: scale(0.9);
    transition: all 0.6s linear;
    border-radius: 5%;
}

.div11{
    width: 800px;
    height: 500px;
    padding-left: 140px;
    border-left: 1PX SOLID WHITE;
}

.div11 h3{
    font-size: 50px;
    padding-top: 20px;
    color: rgb(121, 99, 99);
    margin-top: 30px;
}
.div11 h5{
    color: rgb(226, 201, 138);
    font-size: 20px;
    margin-top: 20px;
}

.div11 p{
    font-size: 30px;
    margin-top: 20px;
    color: rgb(151, 231, 204);
}
.div11 button{
    width: 120px;
    height:40px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 150px;
    border: 1px solid;
    text-align: center;
    color:rgb(110, 99, 71);
    background-color: black;
}

.div11 button:hover{
    color: rgb(251, 238, 238);
    border: 1px solid rgb(245, 213, 130);
    border-radius: 5%;
}


/* ============= footer start============== */

.mainf {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;

}

.mainlogo {
    width: 350px;
    height: 170px;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    display: flex;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 220px;
    
    

}


.bb img {

    width: 40px;
    height: 50px;

}

.gg {
    width: 350px;
    height: 100px;
}

.gg h3 {
    font-weight: 700;
    margin-top: 30px;
    font-size: 23px;
    color: white;
}

.gg h3:hover {
    color: rgb(168, 159, 159);
}

.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mainfoter{
    width: 500px;
    height: 300px;
    justify-self: center;
    text-align: center;
    margin-top: 70px;
    
}
.footer img{
    width: 200px;
    height: 20px;
    margin-top: 40px;
    margin-right: 70px;

}

.footer p{
    padding-top: 20px;
    color:white;
    font-size: 23px;
}

.footer p:hover{
    font-family: Arial;
    color: #7A7A7A;
}


.footer h3{
    margin-right: 40px;
    padding: 20px;
    color: rgb(240, 205, 140);
}


.footer h4{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    text-align: center;
}

.footer h4:hover{
    color: rgb(138, 108, 108);
}

.footer h5{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color:gainsboro;
}

.footer h5:hover{
    color: rgb(244, 230, 157);
    transform: scale(0.8);
    transition: all 4s linear;
}

.copy{
    width: 100%;
    height: 100px;
    background-color:black;
    display: flex;
    font-size: 20px;
    
    
}

.copy h4{
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    color: white;
  justify-self: center;
}

.copy h5 {
    font-size: 30px;
    padding: 10px;
    margin-left: 1000px;
    margin-top: 20px;


}

.copy h5,
i {
    word-spacing: 40px;

}

.copy  i{
    color: white;
}
.copy  i:hover{
        color: goldenrod;
}